In [57]:
import pandas as pd

In [58]:
df = pd.read_csv('a.csv')

In [59]:
df.head()

,Unnamed: 0,weight,height,age,sex,image name,bmi_label,category,bmi
0,0,84,188,24,male,901a.png,2,normal,23.766410
1,1,84,165,21,female,902a.png,4,obese,30.853994
2,2,84,170,23,male,903a.png,3,overweight,29.065744
3,3,84,185,29,male,905a.png,2,normal,24.543462
4,4,84,191,22,male,906a.png,2,normal,23.025685

In [60]:
df['image name']

0       901a.png
1       902a.png
2       903a.png
3       905a.png
4       906a.png
5       907a.png
6       908a.png
7       910a.png
8       911a.png
9       912a.png
10      913a.png
11      914a.png
12      915a.png
13      917a.png
14      918a.png
15      920a.png
16      921a.png
17      922a.png
18      923a.png
19      926a.png
20      927a.png
21      928a.png
22      930a.png
23      933a.png
24      935a.png
25      936a.png
26      937a.png
27      938a.png
28      939a.png
29      940a.png
         ...
334    1271a.png
335    1272a.png
336    1273a.png
337    1274a.png
338    1275a.png
339    1276a.png
340    1277a.png
341    1278a.png
342    1279a.png
343    1280a.png
344    1281a.png
345    1282a.png
346    1283a.png
347    1284a.png
348    1285a.png
349    1286a.png
350    1287a.png
351    1288a.png
352    1289a.png
353    1290a.png
354    1291a.png
355    1292a.png
356    1293a.png
357    1294a.png
358    1295a.png
359    1296a.png
360    1297a.png
361    1298a.png
362    1299a.png
363    1300a.png
Name: image name, Length: 364, dtype: object

In [61]:
import cv2

In [62]:
for img in df['image name']:
    img_file = cv2.imread(img)

In [63]:
for i in df.loc[df['bmi_label']==1]:
    img = cv2.imread(i)

In [64]:
df[df['image name'] == '903a.png']

,Unnamed: 0,weight,height,age,sex,image name,bmi_label,category,bmi
2,2,84,170,23,male,903a.png,3,overweight,29.065744

In [65]:
df[df['image name']=="903a.png"]["bmi_label"].values[0]

3

In [66]:
import os

In [ ]:
bmi_group = ["underweight", "normal", "overweight", "obese"]
for img_file in os.listdir('images'):
    try:
        group_no = int(df[df['image name']==img_file]["bmi_label"].values[0])
        src = "images/" + img_file
        dest = str(bmi_group[group_no-1]) + "/" + img_file
        os.rename(src, dest)
    except:
        print(df[df['image name']==img_file]["bmi_label"].values)